recursive-include blst-lib *.cpp *.hpp *.h *.a *.lib
recursive-include blst/bindings/vectors/hash_to_curve *.json
recursive-include lido_sdk/contract/abi *.json
include README.md
include CHANGELOG.md
include LICENSE
include *.txt